Lab_3/res/bins/compressed_a.bin
Lab_3/res/bins/compressed_B.bin
Lab_3/res/bins/compressed_color.bin
Lab_3/res/bins/compressed_G.bin
Lab_3/res/bins/compressed_gray.bin
Lab_3/res/bins/compressed_H.bin
Lab_3/res/bins/compressed_L.bin
Lab_3/res/bins/compressed_R.bin
Lab_3/res/bins/compressed_S.bin
Lab_3/res/bins/compressed_V.bin
Lab_3/res/bins/matrix_a.bin
Lab_3/res/bins/matrix_B.bin
Lab_3/res/bins/matrix_color_hsv.bin
Lab_3/res/bins/matrix_color_lab.bin
Lab_3/res/bins/matrix_color.bin
Lab_3/res/bins/matrix_G.bin
Lab_3/res/bins/matrix_gray.bin
Lab_3/res/bins/matrix_H.bin
Lab_3/res/bins/matrix_L.bin
Lab_3/res/bins/matrix_R.bin
Lab_3/res/bins/matrix_S.bin
Lab_3/res/bins/matrix_V.bin
